server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics

logging:
  pattern:
    console: '%d{yyyy-MM-dd''T''HH:mm:ss.SSSXXX} level=%p requestId=%X{requestId} logger=%logger{36} msg="%msg"%n'
